html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #adc3ca;
    font-family: sans-serif;
    display: flex;
    padding: 20px;
}
#title {
    font-size: 40px;
    text-align: center;
    color: #172027;
    padding: 10px;
}
#sketchboardBg {
    height: 700px;
    width: 700px;
    margin-bottom: 30px;
    outline: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
#sketchboard {
    height: 700px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
}

::placeholder {
    color: black;
}



#opacity {
    background-color: #e0e0e0;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    width: 25px;
    font-size: 15px;
    color: black;
}
#colorPicker:hover,
#rainbowOn:hover,
#rainbowOff:hover,
#opacity:hover,
#eraser:hover,
#brush:hover,
#opacitySlider:hover,
#canvasColorPicker:hover,
#clear:hover {
    cursor: pointer;
}
#brushColor,
#brushOpacity,
#rainbowBrush
{
    margin-bottom: 3px;
    padding: 5px;
    box-shadow: 1px 1px grey;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    justify-content: space-between;
}
#rainbowState {
    border-radius: 5px;
    display: flex;
    display: inline-block;
    background-color: rgb(224, 224, 224);
}
#rainbowOn,
#rainbowOff {
    display: inline-block;
    padding: 4px;
}
#eraser,
#clear {
    text-align: center;
    box-shadow: 1px 2px grey;
    border-radius: 10px;
    width: 100%;
}
#eraser:active,
#clear:active {
    transform: translateY(4px);
}
#brush {
    height: 30px;
    border: 1px solid;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 1px 2px grey;
    margin-right: 5px;
}
#brush:active {
    transform: translateY(1px);
}
#colorPicker {
    width: 60px;
    height: 30px;
    vertical-align: middle;
}
#opacitySlider {
    display: block;
    width: 100%;
}
#canvasColorPicker {
    height: 70px;
    width: 70px;
    box-shadow: 1px 2px grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.groupTitle {
    margin-top: auto;
    font-weight: 600;
    padding-top: 10px;
}
#toolbarContainer{
    display: flex;
    flex-direction: column;
}
#toolbar {
    width: 200px;
    height: 700px;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 4px 4px black;
    background-color: #344655;
    margin-left: 20px;
    padding-inline: 5px;
}
.navgroup {
    width: 150px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
}

#whole{
    display: flex;
    margin: auto;
}